{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


{% block content %}
<div class="container intro-profile">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-6 left">
    <div class="overlay" style="min-width: 17rem;">
        <h4>Houston! We have lift off!</h4>
    </div>    
  </div>

  <!--Display profile photo-->
  <div class="col-md-6">
    <h3> {{user.username| capitalize}} </h3>
    <div class="profile-image">
        {% if user.profile_pic_path %}
            <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
        {%else%}
    </div>
    <p>No profile picture</p>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}