@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');


h2 {
    color: black;
}


body {
    font-family: 'Montserrat', sans-serif;
}

.cover {
    max-width: 100vw;
}


.intro {
    min-height: 70vh;
    max-width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1513519245088-0e12902e5a38?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
    background-position: center;
    background-size: cover;
    position: relative;
}


.intro a {
    color: whitesmoke;
    background-color: black;
    border-radius: 0;

}
.navbar {
    background-color: transparent;
    border: none;
}

.navbar-brand {
    font-weight: 700;
    font-size: 2vw;
    color: black;
}

.navbar-brand :hover {
    color: black;
}

body > div > div.navbar.navbar-inverse > div > div.navbar-header > h3 {
    color: black;
}

body > div > div.navbar.navbar-inverse > div > div.navbar-collapse.collapse > ul > li> a {
    color: black;
}

body > div > div.navbar.navbar-inverse > div > div.navbar-collapse.collapse.in > ul > li > a {
    color: black;
}

.overlay {
    position: absolute;
    height: 80%;
    width: 30%;
    background-color: white;
    top: 4rem;
    left: 8rem;
    padding: 2rem 4rem;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
}

.overlay p {
    width: auto;
    font-weight: 300;
    font-size: 15px;
}

.more {
    margin-top: 5rem;
    max-width: 80vw;
}

.card {
    margin-top: 3rem;
    padding-bottom: 2rem;
    border-radius: 15px;
    height: auto;


    box-shadow: -8px 9px 17px -5px rgba(0,0,0,0.18);
-webkit-box-shadow: -8px 9px 17px -5px rgba(0,0,0,0.18);
-moz-box-shadow: -8px 9px 17px -5px rgba(0,0,0,0.18);
}

.card-img-top {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px 15px;
}

.card-title {
    font-weight: 400;
    font-size: 20px;
}

.quote p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 3rem;
}