{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
   <div class="container">
        <div class="col-md-6 mx-auto justify-content-center">
           <h2>All blogs...</h2>
            {% for blog in blogs %}
            <hr>
              <div class="item">
                <h4 class='title'>{{ blog.title }}</h4>
                <p> {{ blog.blog_content | truncate(300)}}</p>   
                <p>{{ blog.author }}</p>  
                <p> created: {{ blog.posted.strftime('%Y-%m-%d') }}</p>               

                {% if current_user.id == blog.author.id %}
                    <a href="{{url_for('main.delete_blog',title = blog.title)}}" class="btn btn-danger">Delete Blog</a> 
                {% endif %}
              </div>
            <hr>            
            {% endfor %}
        </div>
   </div>
{% endblock %}